<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Book</title>
    <link th:rel="stylesheet" th:href="@{/webjars/bootstrap/4.0.0-2/css/bootstrap.min.css}"/>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark static-top">
    <div class="container">
        <a class="navbar-brand" href="/">Bookstore</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
                aria-controls="navbarResponsive"
                aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/">Home</a>
                </li>
                <li th:if="${admin != null}" class="nav-item">
                    <a th:if="${#lists.size(admin.getAuthorities()) > 1}" class="nav-link" href="/admin">
                        Admin
                    </a>
                </li>
                <li th:if="${admin} != null" class="nav-item">
                    <a class="nav-link" href="/logout">Logout</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<div class="container">
    <form th:if="${book == null}" th:action="@{/admin/book}" method="post" enctype="multipart/form-data">
        <div class="mb-3">
            <label for="exampleInputText1" class="form-label">Name</label>
            <input type="text" name="name" class="form-control" id="exampleInputText1" aria-describedby="textHelp" required>
        </div>
        <div class="mb-3">
            <label for="exampleInputText2" class="form-label">Year</label>
            <input type="number" name="year" class="form-control" id="exampleInputText2" aria-describedby="textHelp" required>
        </div>
        <div class="mb-3">
            <label for="exampleInputText3" class="form-label">Description</label>
            <input type="text" name="description" class="form-control" id="exampleInputText3" aria-describedby="textHelp" required>
        </div>
        <div class="mb-3">
            <label for="exampleInputText4" class="form-label">Price</label>
            <input type="number" name="price" class="form-control" id="exampleInputText4" aria-describedby="textHelp" required>
        </div>
        <div class="mb-3">
            <label for="exampleInputText5" class="form-label">Language</label>
            <input type="text" name="lang" class="form-control" id="exampleInputText5" aria-describedby="textHelp" required>
        </div>
        <div class="mb-3">
            <label for="exampleInputText6" class="form-label">ISBN</label>
            <input type="text" name="isbn" class="form-control" id="exampleInputText6" aria-describedby="textHelp" required>
        </div>
        <div class="mb-3">
            <label for="exampleInputText7" class="form-label">Page</label>
            <input type="number" name="page" class="form-control" id="exampleInputText7" aria-describedby="textHelp" required>
        </div>
        <div class="mb-3">
            <label for="exampleInputText8" class="form-label">Quantity</label>
            <input type="number" name="quantity" class="form-control" id="exampleInputText8" aria-describedby="textHelp" required>
        </div>
        <div class="mb-3">
            <label for="exampleInputText7" class="form-label">Section</label>
            <select name="section" class="form-select" aria-label="Default select example" required>
                <div th:each="section : ${sections}">
                    <option th:value="${section.name}" th:text="${section.name}"></option>
                </div>
            </select>
        </div>
        <div class="mb-3">
            <label for="exampleInputText8" class="form-label">Author</label>
            <select name="author" class="form-select" aria-label="Default select example" required>
                <div th:each="author : ${authors}">
                    <option th:value="${author}" th:text="${author}"></option>
                </div>
            </select>
        </div>
        <div class="mb-3">
            <label for="exampleInputText9" class="form-label">Image</label>
            <input type="file" name="image" class="form-control" id="exampleInputText9" aria-describedby="textHelp" required>
        </div>
        <button type="submit" class="btn btn-primary">Add book</button>
    </form>

    <form th:if="${book != null}" th:action="@{/admin/book/update}" method="post">
        <div class="mb-3">
            <label for="exampleInputTextID" class="form-label">Name</label>
            <input th:value="${book.getId()}" type="number" name="id" class="form-control" id="exampleInputTextID" aria-describedby="textHelp" required readonly>
        </div>
        <div class="mb-3">
            <label for="bName" class="form-label">Name</label>
            <input th:value="${book.getName()}" type="text" name="name" class="form-control" id="bName" aria-describedby="textHelp" required>
        </div>
        <div class="mb-3">
            <label for="bDesc" class="form-label">Description</label>
            <input th:value="${book.getDescription()}" type="text" name="description" class="form-control" id="bDesc" aria-describedby="textHelp" required>
        </div>
        <div class="mb-3">
            <label for="bPrice" class="form-label">Price</label>
            <input th:value="${book.getPrice()}" type="number" name="price" class="form-control" id="bPrice" aria-describedby="textHelp" required>
        </div>
        <div class="mb-3">
            <label for="bQuantity" class="form-label">Quantity</label>
            <input th:value="${book.getQuantity()}" type="number" name="quantity" class="form-control" id="bQuantity" aria-describedby="textHelp" required>
        </div>
        <button type="submit" class="btn btn-primary">Update book</button>
    </form>
</div>
</body>
</html>