<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="${book.getName()} + ' by ' + ${book.getAuthor().getLastName()}"></title>
    <link th:rel="stylesheet" th:href="@{/webjars/bootstrap/4.0.0-2/css/bootstrap.min.css}"/>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark static-top">
    <div class="container">
        <a class="navbar-brand" href="/">Bookstore</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
                aria-controls="navbarResponsive"
                aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="/">Home
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/book/filter">Filter</a>
                </li>
                <li th:if="${user != null}" class="nav-item">
                    <a th:if="${#lists.size(user.getAuthorities()) == 1}" class="nav-link" href="/cart">
                        Cart
                    </a>
                </li>
                <li th:if="${user != null}" class="nav-item">
                    <a th:if="${#lists.size(user.getAuthorities()) > 1}" class="nav-link" href="/admin">
                        Admin
                    </a>
                </li>
                <li th:if="${user} == null" class="nav-item">
                    <a class="nav-link" href="/user/registration">Registration</a>
                </li>
                <li th:if="${user} == null" class="nav-item">
                    <a class="nav-link" href="/user/login">Login</a>
                </li>
                <li th:if="${user} != null" class="nav-item">
                    <a class="nav-link" href="/logout">Logout</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<div class="container">
    <br>
    <div class="card mb-3" style="max-width: 540px;">
        <div class="row g-0">
            <div class="col-md-8">
                <img th:src="'/image/' + ${book.getImage()}" th:alt="${book.getImage()}" width="320" height="480" style="border: 1px solid darkgrey; ">
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <h5 class="card-title" th:text="${book.getName()}"></h5>
                    <form th:if="${book.quantity > 0}" action="/cart" method="post">
                        <button name="id" th:value="${book.getId()}" type="submit" class="btn btn-primary">Add to cart</button>
                    </form>
                    <p class="card-text" th:text="'Price: ' + ${book.getPrice()} + ' T'">Price</p>
                    <p class="card-text">
                        <small th:if="${book.quantity > 0}" class="text-muted"
                               th:text="'Remain items: ' + ${book.quantity}">
                        </small>
                        <small th:if="${book.quantity < 1}" class="text-muted">
                            Sold
                        </small>
                    </p>
                    <p class="card-text" th:text="${book.getDescription()}">
                    </p>
                    <p class="card-text" th:text="'ISBN: ' + ${book.getIsbn()}"></p>
                    <p class="card-text">
                        <small class="text-muted"
                               th:text="${book.getAuthor().getFirstName()} + ' ' + ${book.getAuthor().getLastName()}">
                        </small>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>