<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Cart</title>
    <link th:rel="stylesheet" th:href="@{/webjars/bootstrap/4.0.0-2/css/bootstrap.min.css}"/>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark static-top">
    <div class="container">
        <a class="navbar-brand" href="/">Bookstore</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
                aria-controls="navbarResponsive"
                aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <form action="/book" class="d-flex" method="get">
                <input name="q" class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success" type="submit">Search</button>
            </form>
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/book/filter">Filter</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/section">Sections
                    </a>
                </li>
                <li th:if="${user != null}" class="nav-item">
                    <a th:if="${#lists.size(user.getAuthorities()) == 1}" class="nav-link active" href="/cart">
                        Cart
                    </a>
                </li>
                <li th:if="${user != null}" class="nav-item">
                    <a th:if="${#lists.size(user.getAuthorities()) > 1}" class="nav-link" href="/admin">
                        Admin
                    </a>
                </li>
                <li th:if="${user} == null" class="nav-item">
                    <a class="nav-link" href="/user/registration">Registration</a>
                </li>
                <li th:if="${user} == null" class="nav-item">
                    <a class="nav-link" href="/user/login">Login</a>
                </li>
                <li th:if="${user} != null" class="nav-item">
                    <a class="nav-link" href="/logout">Logout</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<div class="container">
    <br>
    <div th:if="${message}" th:text="${message}" class="alert alert-danger" role="alert">
        error
    </div>
    <ul class="list-group">
        <li th:if="${cart.getBooks() != null}"
            th:each="book : ${cart.getBooks().entrySet()}"
            class="list-group-item">
            <a th:href="'/book/' + ${book.getKey().getId()}"
               th:text="${book.getKey().getName()} + ' (' + ${book.getKey().getAuthor().getLastName()} + ')'"
               class="link-primary">
            </a>
            <p th:text="'Quantity: ' + ${book.getValue()}">Quantity</p>
            <p th:text="${book.getKey().getPrice() * book.getValue()} + 'T'">Price</p>
            <a th:href="'/cart?delete=' + ${book.getKey().getId()}" class="link-secondary">
                Delete
            </a>
        </li>
    </ul>
    <p th:if="${cart.getBooks() == null || cart.getBooks().size() < 1}">There is no book in cart</p>
    <br>
    <p th:if="${cart.getBooks() != null}" th:text="'Total: ' + ${cart.totalPrice()} + 'Т'">Total</p>
    <form th:if="${cart.getBooks() != null && cart.getBooks().size() > 0}" action="/order" method="post">
        <button class="btn" type="submit">Checkout</button>
    </form>
</div>
</body>
</html>