<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Filter</title>
    <link th:rel="stylesheet" th:href="@{/webjars/bootstrap/4.0.0-2/css/bootstrap.min.css}"/>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark static-top">
    <div class="container">
        <a class="navbar-brand" href="/">Bookstore</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
                aria-controls="navbarResponsive"
                aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/">Home
                    </a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="/book/filter">Filter</a>
                </li>
                <li th:if="${user != null}" class="nav-item">
                    <a th:if="${#lists.size(user.getAuthorities()) == 1}" class="nav-link" href="/cart">
                        Cart
                    </a>
                </li>
                <li th:if="${user != null}" class="nav-item">
                    <a th:if="${#lists.size(user.getAuthorities()) > 1}" class="nav-link" href="/admin">
                        Admin
                    </a>
                </li>
                <li th:if="${user} == null" class="nav-item">
                    <a class="nav-link" href="/user/registration">Registration</a>
                </li>
                <li th:if="${user} == null" class="nav-item">
                    <a class="nav-link" href="/user/login">Login</a>
                </li>
                <li th:if="${user} != null" class="nav-item">
                    <a class="nav-link" href="/logout">Logout</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<div class="container">
    <br>
    <form th:action="@{/book/filter}" th:method="post">
        <label th:text="'Price range (max = ' + ${max} + ')'"
               for="customRange2" class="form-label">Price range</label>
        <br>
        <input name="range" type="range" class="form-range" step="1.0" min="1" th:max="${max}" id="customRange2"
               oninput="document.getElementById('priceLabel').innerHTML = this.value">
        <label id="priceLabel"></label>
        <br>
        <button class="btn" type="submit">Find</button>
    </form>
</div>
</body>
</html>