<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Bookstore</title>
    <link th:rel="stylesheet" th:href="@{/webjars/bootstrap/4.0.0-2/css/bootstrap.min.css}"/>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark static-top">
    <div class="container">
        <a class="navbar-brand" href="/">Bookstore</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
                aria-controls="navbarResponsive"
                aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <form action="/book" class="d-flex" method="get">
                <input name="q" class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success" type="submit">Search</button>
            </form>
            <ul class="navbar-nav ml-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="/">Home
                        <span class="sr-only">(current)</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/book/filter">Filter</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/section">Sections</a>
                </li>
                <li th:if="${user != null}" class="nav-item">
                    <a th:if="${#lists.size(user.getAuthorities()) == 1}" class="nav-link" href="/order">
                        Orders
                    </a>
                </li>
                <li th:if="${user != null}" class="nav-item">
                    <a th:if="${#lists.size(user.getAuthorities()) == 1}" class="nav-link" href="/cart">
                        Cart
                    </a>
                </li>
                <li th:if="${user != null}" class="nav-item">
                    <a th:if="${#lists.size(user.getAuthorities()) > 1}" class="nav-link" href="/admin">
                        Admin
                    </a>
                </li>
                <li th:if="${user} == null" class="nav-item">
                    <a class="nav-link" href="/user/registration">Registration</a>
                </li>
                <li th:if="${user} == null" class="nav-item">
                    <a class="nav-link" href="/user/login">Login</a>
                </li>
                <li th:if="${user} != null" class="nav-item">
                    <a class="nav-link" href="/logout">Logout</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<div class="container">
    <br>
    <div th:if="${user == null || #lists.size(user.getAuthorities()) < 2}" class="row">
        <div th:each="book : ${books}">
            <div class="col-sm-6">
                <div class="card" style="width: 18rem;">
                    <img th:src="'/image/' + ${book.getImage()}" class="card-img-top" th:alt="${book.getImage()}" style="border: 1px;" width="267" height="400">
                    <div class="card-body">
                        <p class="card-text">
                            <a th:href="'/book/' + ${book.getId()}">
                                <span th:text="${book.getName()}"></span>
                            </a>
                        </p>
                    </div>
                </div>
            </div>
            <br>
        </div>
    </div>
    <table th:if="${user != null && #lists.size(user.getAuthorities()) > 1}" class="table">
        <thead>
        <tr>
            <th scope="col">Id</th>
            <th scope="col">Name</th>
            <th scope="col">Price</th>
            <th scope="col">Quantity</th>
            <th scope="col">Update</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="book : ${books}" >
            <td th:text="${book.getId()}">Id</td>
            <td th:text="${book.getName()}">Name</td>
            <td th:text="${book.getPrice()}">Price</td>
            <td th:text="${book.getQuantity()}">Quantity</td>
            <td><a th:href="'/admin/book?id=' + ${book.getId()}">update</a></td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>