<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link th:rel="stylesheet" th:href="@{/webjars/bootstrap/4.0.0-2/css/bootstrap.min.css}"/>
</head>
<body>
<div class="container">
    <form th:action="@{/user/login}" th:object="${loginDto}" method="post">
        <div th:if="${error}" th:text="${error}" class="alert alert-danger" role="alert">
            error
        </div>
        <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Email</label>
            <input type="email" name="email" th:field="*{email}" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" required>
        </div>
        <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">Password</label>
            <input type="password" name="password" th:field="*{password}" class="form-control" id="exampleInputPassword1" required>
        </div>
        <button type="submit" class="btn btn-primary">Login</button>
    </form>
    <br>
    <a href="/user/registration" class="link-primary">Registration</a>
    <br>
    <a href="/" class="link-info">Main</a>
</div>
</body>
</html>