<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="UTF-8">
<head>
    <meta charset="UTF-8">
    <title>Registration</title>
    <link th:rel="stylesheet" th:href="@{/webjars/bootstrap/4.0.0-2/css/bootstrap.min.css}"/>
</head>
<body>
<div class="container">
    <form th:action="@{/user/registration}" th:object="${userDto}" method="post">
        <div th:if="${message}" th:text="${message}" class="alert alert-danger" role="alert">
            message
        </div>

        <div class="mb-3">
            <label for="exampleInputName1" class="form-label">Name</label>
            <input type="text" th:field="*{name}" class="form-control" id="exampleInputName1" aria-describedby="nameHelp" required>
            <div class="invalid-feedback" th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Name Error</div>
        </div>

        <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Email</label>
            <input type="email" th:field="*{email}" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" required>
        </div>

        <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">Password</label>
            <input type="password" th:field="*{password}" class="form-control" id="exampleInputPassword1" required>
        </div>

        <div class="mb-3">
            <label for="exampleInputPassword2" class="form-label">Repeat password</label>
            <input type="password" th:field="*{matchingPassword}" class="form-control" id="exampleInputPassword2" required>
        </div>

        <button type="submit" class="btn btn-primary">Register</button>
    </form>
    <br>
    <a href="/user/login" class="link-primary">Login</a>
    <br>
    <a href="/" class="link-info">Main</a>
</div>
</body>
</html>
